:root {
 --fuente-principal: "Lato", sans-serif;
 --primario: #da595e;
 --obscuro: #484848;
 --claro: #fff;

 --hospedaje: #275154;
 --concierto: #da595e;
 --clase: #598dda;
 --paseo: #940ad4;
}

html {
 box-sizing: border-box;
}

body {
 font-family: var(--fuente-principal);
}
h1 {
 font-size: 2.6rem;
 font-weight: 400;
}
h2 {
 font-size: 2rem;
}
h3 {
 font-size: 1.8rem;
}

.boton {
 display: block;
 padding: 1rem;
 font-weight: 700;
 font-size: 1.2rem;
 text-align: center;
 border-radius: 10px;
 color: var(--obscuro);
 text-decoration: none;
 text-transform: uppercase;
 transition: all 0.4s ease-in;
 background-color: var(--claro);
 box-shadow: 0px 13px 19px -10px rgba(0, 0, 0, 0.52);
}

.boton:hover {
 color: var(--claro);
 background-color: var(--primario);
}

.hospedaje {
 color: var(--hospedaje);
}

.concierto {
 color: var(--concierto);
}

.clase {
 color: var(--clase);
}

.paseo {
 color: var(--paseo);
}

.contenedor {
 max-width: 1100px;
 margin: 0 auto;
}

.hero {
 height: 100vh;
 background-size: cover;
 background-image: url(../img/arriba.jpg);

 display: grid;
 grid-template-rows: 1fr 2fr;
}

.header {
 display: flex;
 width: 100%;
 align-self: start;
 padding-top: 1rem;
 align-items: center;
 justify-content: space-between;
}

.navegacion a {
 color: var(--claro);
 text-decoration: none;
 margin-right: 1rem;
}

.navegacion a:last-of-type {
 margin-right: 0;
}

.contenido-hero {
 display: grid;
 grid-template-columns: 5% auto 5%;
 grid-template-rows: max-content auto;
}

.contenido-hero h1 {
 grid-column: 2/3;
 color: var(--claro);
}

.contenido-hero form {
 grid-row: 2/3;
 grid-column: 2/3;
 position: relative;
 display: flex;
 height: 4rem;
}

form input[type="text"] {
 flex: 1;
 border: none;
 font-size: 1.6rem;
 padding-left: 5rem;
 outline: none;
 border-radius: 10px;
 background-repeat: no-repeat;
 background-image: url(../img/lupa.png);
 background-position: calc(1% + 1rem) calc(1% + 0.8rem);
}

form input[type="submit"] {
 right: 1rem;
 top: 0.6rem;
 border: none;
 cursor: pointer;
 font-size: 1.2rem;
 position: absolute;
 color: var(--claro);
 border-radius: 10px;
 padding: 0.7rem 2rem;
 text-transform: uppercase;
 background-color: var(--primario);
}

.contenedor-cards {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.card img {
 max-width: 100%;
}

.info .categoria {
 font-weight: 700;
 font-size: 0.9rem;
 text-transform: uppercase;
}
.info .precio {
 font-size: 0.9rem;
 color: var(--obscuro);
}
.info .titulo {
 margin: 0;
 font-weight: 900;
 font-size: 1.6rem;
}

.premium {
 height: 30rem;
 background-repeat: no-repeat;
 grid-template-columns: unset;
 background-position: center right;
 background-image: url(../img/hospedaje-pro.jpg);
}

.premium .info {
 display: flex;
 padding: 1rem;
 flex-direction: column;
 justify-content: center;
}

.premium .info h3 {
 text-align: center;
 font-size: 2.2rem;
}

@media screen and (min-width: 768px) {
 .premium {
  grid-template-columns: auto 30%;
 }

 .premium .info {
  grid-column: 2/3;
 }
 .premium .info h3 {
  text-align: right;
 }
}

.destinos .contenedor-cards {
 grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.destinos .card {
 position: relative;
}

.destinos .info {
 left: 1rem;
 bottom: 1rem;
 position: absolute;
}

.destinos .info .titulo {
 font-size: 1.8rem;
 color: var(--claro);
}

.footer {
 background-color: var(--claro);
}

.nav-footer {
 padding: 1rem;
}

.nav-footer h3 {
 font-size: 1.2rem;
}

.nav-footer a {
 display: block;
 text-decoration: none;
 color: var(--obscuro);
 margin-bottom: 0.5rem;
}

.sociales ul {
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 justify-content: flex-end;
 /* justify-content: center;
  justify-content: space-around; */
 /* justify-content: space-between; */
 flex: 1 0 auto;
 list-style: none;
}
.sociales ul li {
 margin-right: 1rem;
}
.sociales ul li:last-of-type {
 margin-right: 0;
}
.sociales ul li a {
 text-decoration: none;
}
.sociales ul li a:before {
 font-family: "Font Awesome 5 Brands";
 color: var(--obscuro);
 font-size: 1.8rem;
}
.sociales ul li a[href*="facebook.com"]::before {
 content: "\f39e";
}

.sociales ul li a[href*="twitter.com"]::before {
 content: "\f099";
}
.sociales ul li a[href*="youtube.com"]::before {
 content: "\f431";
}
.sociales ul li a[href*="instagram.com"]::before {
 content: "\f16d";
}
.sociales ul li a[href*="pinterest.com"]::before {
 content: "\f231 ";
}
.sociales ul li span {
 display: none;
}
