$fonts: Arial, Helvetica, sans-serif;

// MediaQuery
$phone: 480px;
$table: 768px;
$desktop: 1200px;

// Colors
$primary: #e50914;
$secondary: #e87c03;
$gray: #323232;
$gray_2: #8c8c8c;
$gray_3: #454545;
$white: #fff;
$black: #000;
$radius: 5px;
